body {
    background: rgb(255, 173, 65);
  }
  
  .todo-container {
    background: rgb(41, 33, 33);
    width: 40vw;
    margin: 10em auto;
    border-radius: 15px;
    padding: 20px 10px;
    color: white;
    border: 3px solid rgb(253, 253, 253);
  }
  
  .task {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
  }
  
  .task button{
    background: rgb(255, 145, 0);
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: white;
    float: right;
  }

  .header {
    margin: 0.5em;
    font-size: 2em;
    text-align: center;
  }
  .title{
   
      margin: 2.5em 0 0 2.5em;
      width: 80%;
      outline: none;
      border: none;
      
  }
  .create-task input[type=text] {
    margin-left: 2.5em  ;
    width: 80%;
    outline: none;
    border: none;
    padding: 0.7em;
  }

  @media (max-width: 1025px) {
    .todo-container {
      width: 90%;
      margin: 10em auto;
    }

  }